@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Hack';
    src: url(/assets/Hack-NF.ttf);
    display: swap;
}

* {
    font-family: 'Hack', monospace;
}

html,
body,
body>div:first-child,
div#__next,
div#__next>div {
    height: 100%;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #282936;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #B45BCF;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00F769;
}